---
pageable: true
per_page: 10
---

<header>
  <h1 id='header__align-left'>
    everything<br>
    is<br>
    awful<br>
  </h1>
  <h2 id='header__align-right'>
    an optimistic podcast
  </h2>
</header>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2 class='article__heading'><%= link_to article.title, article %></h2>
  <span>Posted on <%= article.date.strftime('%b %e') %></span>
  <%= article.body %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
